# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Big splash files (optional – remove these lines if you want to upload frames too)
splash_sources/
splashes/*/
*.mp4
*.mov
*.avi
*.gif

# System
.DS_Store
*.log
